// --------------------------------------------------------------------------------
// LAYOUT 
// --------------------------------------------------------------------------------
nav, aside, article 						{ top:63px; }

nav 										{ width:60px;  		position:absolute; bottom:0; left:0; 			 	background:$color-blue-dark; }
aside										{ width:400px; 		position:absolute; bottom:0; left:60px; 			background:$color-gray-extralight; }
article 									{ min-width:526px; 	position:absolute; bottom:0; left:460px; right:0; 	background:$color-white-normal; }
