// --------------------------------------------------------------------------------
// VARIABLES 
// --------------------------------------------------------------------------------
$color-blue-light: 							#47c7ff;
$color-blue-normal:							#3399ce;
$color-blue-dark: 							#0b3246;
$color-blue-extradark:						#061b33;

$color-white-normal:						#fff;
$color-white-dark:							#f2f2f2;

$color-gray-extralight:						#e6e6e6;
$color-gray-light: 							#c7c7c7;
$color-gray-normal: 						#7a7a7a;
$color-gray-dark: 							#3b3b3b;

$color-red-normal: 							#dc3f39;